.about-div, .coop-div, .contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

h3{
    align-self: center;
}

h4{
    margin-bottom: 10px;
    align-self: center;
    letter-spacing: 2px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.445);
}

.about-div{
    height: 0px;
    background-image: url('../images/about/landscape2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-info{
    background-color: rgba(253, 253, 253, 0.55);
    width: 80%;
    max-width: 1500px;
    margin-top: 12.5%;
}

.about-info h2 {
    margin: 0px;
    padding-top: 30px;
}
.about-div p {
    text-align: center;
    margin: 60px;
    margin-top: 30px;
    font-size: large;
}

.mySlides {
    max-height:250px;
    margin-bottom: 20px;
}

.coop-div{
    background-color: rgba(178, 206, 235, 0.658);    
}

#logo-div {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    float: left;
    justify-content: center;
    width: 600px;
    /* border: 2px solid;
    border-color: rgba(145, 144, 144, 0.055); */
    background-color: rgba(0, 0, 0, 0.03);
}

#logo-div > div{
    height: 220px;
    /* background-color: rgb(28, 87, 149); */
}
#lgs-logo, #tda-logo, #caci-logo, #prudential-logo {
    background-color: white;}

#logo-div img {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 225px;
    align-self: center;
}

.info-div{
    width: 0px;
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    transition: width 2s; 
    z-index: 0; 
    color: black;
    background-color: rgba(211, 211, 211, 0.25);
    /* transition-timing-function: ease; */
    text-align: center;
}

.info-div p {
    padding: 10px;  
    margin-bottom: 0px;  
}

#caci-div, #lgs-div {
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: flex-end;
    left: 0px;
    /* overflow-x: auto could work */
}

#caci-logo, #lgs-logo {
    display: inline-grid;
    z-index: 1;
}

#caci-div:hover #caci-info, #lgs-div:hover #lgs-info{
    width: 552px;
}

#tda-div, #prudential-div {
    transition-timing-function: ease;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

#tda-logo, #prudential-logo {
    display: flex;
    z-index: 1;
    float: left;
}

#tda-div:hover #tda-info, #prudential-div:hover #prudential-info{
    width: 300px;
}

#tda-div:hover #tda-logo, #prudential-div:hover #prudential-logo{
    border-right: outset solid grey 4px;
}

.job-title{
    font-weight: bold;
    font-size: 22px;
}

.company-description{
    color: grey;
    font-size: 16px;
    margin-top: 0px;
}

.projects-div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-preview {
    max-width: 500px;
    max-height: 500px;
}

#pisense-gif{
    height: 317px;
    width: 487px;
}

.projects-div ul {
    list-style: none;
    width: 800px;
    align-self: center;
}
.projects-div ul li > * {
    display: block;
}

.projects-div ul li a{
    display: flex;
    justify-content: center;
}

#link-div {
    align-content: center;
}

#gmail {
    padding-bottom: 10px;
}

.contact-div{
    background-color: rgba(56, 107, 162, 0.664);
}
.contact-div a img{
    padding: 5px;
    max-width: 35px;
    max-height: 35px;
}

