body {
    color: #333;
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0px;
}

h2 {
    margin-bottom: 0px;
    align-self: flex-start;
    letter-spacing: 2px;
    font-weight: lighter;
}

#top-div {
    background-color: #333;
    color: white;
    width: 100%;
    border-bottom: 2px solid;
    border-bottom-style: outset;
}

body, .topbar {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.topbar > * {
    display:flex; 
    align-items:center;
}

.topbar .name-div h1 {
    margin-bottom: 0px;
}

.navbar a {
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

.navbar a {
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

.navbar a:visited {
    color: inherit;
    text-decoration: none;
}

.navbar a:hover {
    color: inherit;
    text-decoration: underline;
}